
    button {
        background-color: green
    }
    

button.azul {
    background-color: aqua;
}

button.azul {
    background-color: aqua;
}

button.vermelho {
    background-color: red;
}

button.amarelo {
    background-color: yellow;
}
    p {
        color: red;
    }

